* {
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
    background-color: #A77979;
}

.header {
    text-align: center;
    background-color: #A77979;
    margin-top: 20px;
    bottom: 0;
}

.projects {
    background-color: #A77979;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0;
    gap: 16px;
}

.projects img {
    border: 0;
    background-color: #A77979;
    height: 400px;
    width: 350px;
    object-fit: cover;
    border-radius: 10%;
}




.footer {
    text-align: left;
    padding-left: 50px;
    margin-bottom: 20px;
}